[build]
  command = "npm install && npm run build && cd backend && npm install && npm run build"
  publish = "dist"
  functions = "backend/dist"

# --- THE FIX ---
[[redirects]]
  from = "/api/*"
  # Point to 'server' because your file is server.ts
  to = "/.netlify/functions/server/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200